# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.


Expressions are :
    *
    /
    -


Values are :
    'hello'
    -87.8
    6

# 2. What is the difference between string and variable?

String is a datatype which can store words, characters, numbers, etc inside double quotes.

Variable is a storage location where value can be stored. Variables can store values for all datatypes.

# 3. Describe three different data types.

integer : Used to assign interger values to variables.
String  : String is a datatype which can store words, characters, numbers, etc inside double quotes.
list    : used to store list of values inside a single variable

# 4. What is an expression made up of? What do all expressions do?

Expression is made of operators and operands which produce some value that is stored inside a variable.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression produces some result; whereas assignment is just done to assign some value to a variable.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Answer : 22

In [3]:
bacon = 22
bacon + 1
print (bacon)

22

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [5]:
a = 'spam' + 'spamspam'
b ='spam' * 3
print (a)
print (b)

spamspamspam
spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

This is because a variable name cannot start with number.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [6]:
a ='I have eaten' + 99 + 'burritos.'
print(a)

TypeError: can only concatenate str (not "int") to str

In [ ]:
This is beacuse 99 is not in quotes.

In [8]:
a ='I have eaten' + ' 99 ' + 'burritos.'
print (a)

I have eaten 99 burritos.