Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [1]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

num = int(input("Enter a number: "))
print(is_symmetrical(num))

Enter a number: 4444444
True

In [5]:
def multiply_nums(nums):
    nums_list = nums.split(", ")
    product = 1
    for num in nums_list:
        product *= int(num)
    return product

nums = input("Enter numbers separated by comma and space: ")
print(multiply_nums(nums))

Enter numbers separated by comma and space: 2, 3
6

In [6]:
def square_digits(num):
    return int("".join(str(int(digit)**2) for digit in str(num)))

num = int(input("Enter a number: "))
print(square_digits(num))

Enter a number: 3212
9414

In [7]:
def setify(lst):
    return sorted(list(set(lst)))

lst = input("Enter a list of numbers separated by space: ").split()
lst = [int(num) for num in lst]
print(setify(lst))

Enter a list of numbers separated by space: 2 3 4 5 6 7 8
[2, 3, 4, 5, 6, 7, 8]

In [8]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits) // len(digits)

num = int(input("Enter a number: "))
print(mean(num))

Enter a number: 123456
3