Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;

Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;
alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;
alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;
alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;
alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [2]:
def next_in_line(lst, num):
    if not lst:
        return "No list has been selected"
    lst.append(num)
    lst.pop(0)
    return lst

# taking inputs from user
lst = input("Enter a list of numbers separated by space: ").split()
lst = [int(num) for num in lst]
num = int(input("Enter a number to add at the end of the list: "))
print(next_in_line(lst, num))

Enter a list of numbers separated by space: 5 6 7 8 9
Enter a number to add at the end of the list: 1
[6, 7, 8, 9, 1]

In [4]:
def get_budgets(dicts):
    total_budget = 0
    for d in dicts:
        if 'budget' in d:
            total_budget += d['budget']
    return total_budget

# Example usage:
budgets = [
    {"name": "John", "age": 21, "budget": 23000},
    {"name": "Steve", "age": 32, "budget": 40000},
    {"name": "Martin", "age": 16, "budget": 2700},
    {"name": "Jane", "age": 25, "budget": 15000},
    {"name": "Bob", "age": 45, "budget": 50000}
]
total = get_budgets(budgets[:5])  # only take the first 5 dictionaries in the list
print(total)  # Output: 130700

130700

In [5]:
def alphabet_soup(txt):
    return ''.join(sorted(txt))

# taking input from user
txt = input("Enter a string: ")
print(alphabet_soup(txt))

Enter a string: sanket
aeknst

In [6]:
def compound_interest(p, t, r, n):
    A = p * (1 + r/n) ** (n*t)
    return round(A, 2)

# taking inputs from user
p = float(input("Enter the principal amount: "))
t = int(input("Enter the term in years: "))
r = float(input("Enter the interest rate (in decimal): "))
n = int(input("Enter the number of compounding periods per year: "))
print(compound_interest(p, t, r, n))

Enter the principal amount: 100000
Enter the term in years: 10
Enter the interest rate (in decimal): 8
Enter the number of compounding periods per year: 1
348678440100000.0

In [11]:
def return_only_integer(lst):
    return [x for x in lst if type(x) == int]

# taking input from user
lst = input("Enter a list of elements separated by space: ").split()
lst = [eval(x) for x in lst]  # using eval() to automatically convert string representations of numbers to integers
print(return_only_integer(lst))

Enter a list of elements separated by space: 3 4 5 "dgdbb"
[3, 4, 5]