1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.
10. Increment the count field of test and print it.

## **ANS OF ABOVE QUESTIONS ARE AS FOLLOW**

1. ```python
   test1 = 'This is a test of the emergency text system,'
   with open('test.txt', 'w') as file:
       file.write(test1)
   ```

2. ```python
   with open('test.txt', 'r') as file:
       test2 = file.read()
   ```
   There should be no difference between test1 and test2.

3. ```csv
   title,author,year
   The Weirdstone of Brisingamen,Alan Garner,1960
   Perdido Street Station,China Miéville,2000
   Thud!,Terry Pratchett,2005
   The Spellman Files,Lisa Lutz,2007
   Small Gods,Terry Pratchett,1992
   ```
   
4. ```python
   import sqlite3
   conn = sqlite3.connect('books.db')
   c = conn.cursor()
   c.execute('''CREATE TABLE books
                (title text, author text, year integer)''')
   conn.commit()
   conn.close()
   ```

5. ```python
   import csv
   conn = sqlite3.connect('books.db')
   c = conn.cursor()
   with open('books.csv') as file:
       reader = csv.reader(file)
       next(reader)  # Skip header row
       for row in reader:
           c.execute("INSERT INTO books VALUES (?, ?, ?)", row)
   conn.commit()
   conn.close()
   ```

6. ```python
   conn = sqlite3.connect('books.db')
   c = conn.cursor()
   c.execute("SELECT title FROM books ORDER BY title ASC")
   rows = c.fetchall()
   for row in rows:
       print(row[0])
   conn.close()
   ```

7. ```python
   conn = sqlite3.connect('books.db')
   c = conn.cursor()
   c.execute("SELECT * FROM books ORDER BY year ASC")
   rows = c.fetchall()
   for row in rows:
       print(row)
   conn.close()
   ```

8. ```python
   from sqlalchemy import create_engine, MetaData, Table

   engine = create_engine('sqlite:///books.db', echo=True)
   metadata = MetaData()
   books = Table('books', metadata, autoload=True, autoload_with=engine)

   conn = engine.connect()
   rows = conn.execute(books.select().order_by(books.c.title.asc())).fetchall()
   for row in rows:
       print(row.title)
   conn.close()
   ```

9. ```python
   import redis
   r = redis.Redis(host='localhost', port=6379, db=0)
   r.hset('test', 'count', 1)
   r.hset('test', 'name', 'Fester Bestertester')
   print(r.hgetall('test'))
   ```

10. ```python
    count = r.hincrby('test', 'count', amount=1)
    print(count)
    ```